
# PlanAhead Generated physical constraints 

NET "a0" LOC = P11;
NET "a1" LOC = L3;
NET "a2" LOC = K3;
NET "a3" LOC = B4;
NET "s0" LOC = E2;
NET "s1" LOC = N3;

# PlanAhead Generated physical constraints 

NET "sseg[0]" LOC = M12;
NET "sseg[1]" LOC = L13;
NET "sseg[2]" LOC = P12;
NET "sseg[3]" LOC = N11;
NET "sseg[4]" LOC = N14;
NET "sseg[5]" LOC = H12;
NET "sseg[6]" LOC = L14;
NET "sseg[7]" LOC = N13;

NET "Clk" LOC = B8;
NET "anO[0]" LOC = F12;
NET "anO[1]" LOC = J12;
NET "anO[2]" LOC = M13;
NET "anO[3]" LOC = K14;
